*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    color: white;
}


/*superior contiene imagen + texto*/
.superior {
    position: relative;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: yellowgreen;
  }
  
/*link autogestion*/
.top-left {
    position: absolute;
    top: 15px;
    left: 16px;
}
 
/*redes sociales*/
.top-right {
    position: absolute;
    top: 15px;
    right: 16px;
    height: 500px;
    word-spacing: 10px;
    text-decoration: none;
}
 
/*navegacion por el sitio*/
.bottom {
    position: absolute;
    bottom: 15px;
    margin: 0 auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
    
ul li{
    display: inline-block;
    width: 130px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:yellowgreen;
}

h1{
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: yellowgreen;
    text-align: center;
}

h3{
    color: yellowgreen;
}

.texto{
    margin-top: 100px;
}

.campo{
    color :yellowgreen;
}

.campo2{
    color:yellowgreen;
    text-align: center;
    font-size: 15px;
}

/*texto e imagen del cuerpo*/
.elDiv{
    width: 100%;
    background-color: blue;
    height: 500px;
    display:inline-block;
}

/*texto*/
.content{
    width: 50%;
    color: yellowgreen;
    background-color: black;    
    float: left;
}

/*imagen*/
.contentDos{
    background-color: black;
    float: right;
    height: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
}



.clear{
    clear:both;
}

table{
   margin: auto;
}

.tabli{
    font-weight: bolder;
    border-style: inset;
    border: yellowgreen;
    border-bottom: dotted;
    border-width: 5px;
    text-align: center;
}

tr, td {
    padding: 5px;
    border-style: none;
    border: yellowgreen;
    border-style: inset;
    border-width: 3px;
  }


footer{
    height: 80px;
    text-align: center;
    background-color: rgb(13, 14, 13);
    color: yellowgreen;
    line-height: 80px;
    width: 100%;
}